body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: #ffffff;
}

.age-gate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.age-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
}

.age-modal {
  position: relative;
  width: 75%;
  max-width: 700px;
  padding: 60px;
  background: rgba(10,10,35,0.9);
  color: white;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
}

/* TEXTO */
.age-modal h1 {
  font-size: 38px;
  letter-spacing: 4px;
}

.age-modal p {
  margin: 20px 0 40px;
}

.age-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* NAVBAR PREMIUM */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  box-sizing: border-box;
  z-index: 1000;
}

.nav-left nav,
.nav-right nav {
  display: flex;
  gap: 40px; /* 👈 este es el bueno */
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-left nav a {
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #2d2dd8;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-right nav a {
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #2d2dd8;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  color: #2d2dd8;
}

.logo span {
  display: block;
  font-size: 10px;
  letter-spacing: 3px;
}

.menu-btn {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.mobile {
  display: none;
  position: fixed;
  top: 90px;
  width: 100%;
  background: white;
  flex-direction: column;
  text-align: center;
}

.mobile.active {
  display: flex;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: white;
}

.hero-text h1 {
  font-size: 60px;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
}

.btn-premium {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 14px 30px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-premium:hover {
  background: white;
  color: #0a0a23;
}

.btn-blue {
  background: transparent;
  color: #2d2dd8;
  border: 1px solid #2d2dd8;
}

.btn-blue:hover {
  background: #2d2dd8;
  color: white;
}

.section {
  padding: 120px 60px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 40px;
}

@media (max-width: 900px) {
  .nav-left nav,
  .nav-right nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}